.container {
    width: 100%;
    height: 100%;
}
.content {
    position: absolute;
    left: 45%;
    top: 10%;
    margin: auto;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field {
    width: 100%;
    height: 10%;
    margin: 35px;
    font-family: opensans_regular;
    font-size: large;
    border-radius: 41% 34% 4% 60% / 7% 8% 10% 8%  ;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.header-text {
    font-family: architect;
    font-size: 6em;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    align-self: center;
}